body {
    background-color: peachpuff;
    color: rgb(75, 75, 75);
}

.heading {
    text-align: center;
}

.picture {
    display: block;
    margin: auto;
}

.self-link, .recipes-link {
    display: inline-block;
    margin-left: 400px;
}
