body {
    background-color: peachpuff;
    color: rgb(75, 75, 75);
}

.heading {
    text-align: center;
}

.picture {
    display: block;
    margin: auto;
}

.self-link, .recipes-link {
    display: block;
}

.self-link {
    margin-bottom: 12px;
}